#debug {
  font-family: monospace;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
#debug > * {
  width: 200px;
}
#debug label {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}
