doctype

html
  head
    link(href="//localhost:10002/main.css", type="text/css", rel="stylesheet")
    script(src="//localhost:10002/main.js")
  body
    #game
      #game__viewport
        #game__stage
    #debug
      .debug__client-id
        label clientId
        value -
      .debug__velocity
        label v
        value -
      .debug__acceleration
        label a
        value -
      .debug__rotation
        label r
        value -
      .debug__orientation
        label h
        value -
      .debug__location
        label l
        values
          value.x
            label
            value -
          value.y
            label
            value -
          value.z
            label
            value -
